<div>
  <div>
    <h1>
      List of Users
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_users.each do |a_user| %>
        <tr>
          <td><%= a_user.username %></td>
          <td><%= a_user.private ? "Yes" : "No" %></td>
          <td>
            <%= render "follow_form", { :user => a_user } %>
          </td>
          
      
          <% if @current_user.present? %>
          <td>
            <% if a_user.private == false %>
            <a href="/users/<%= a_user.username %>">Show details</a>
            <% elsif a_user.followers.include?(@current_user) %>
            <a href="/users/<%= a_user.username %>">Show details</a>
            <% else %>
            <a href="/users">Show details</a>
            <% end %>
          </td>
          <% else %>
          <td> <a href="/user_sign_in">Show details</a> </td>
          <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
